.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item1 {
    background-color: aquamarine;
    width: 30%;
    height: 200px;
    margin: .5em;
    padding: 0;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.item2line1 {
    background-color: blueviolet;
    min-width: none;
    height: 75px;
    width: 60%;
    margin: .5em;   
}

.item2line2 { 
    background-color: blueviolet;
    min-width: none;
    height: 75px;
    width: 70%;
    margin: .5em;  
}

.item2line3 {
    background-color: blueviolet;
    min-width: none;
    height: 75px;
    width: 80%;
    margin: .5em;  
}

.item2line4 {
    background-color: blueviolet;
    min-width: none;
    height: 75px;
    width: 30%;
    margin: .5em;  
}

.item2line5 {
    background-color: blueviolet;
    min-width: none;
    height: 75px;
    width: 40%;
    margin: .5em;  
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1em;
    height: 400px;
    align-items: baseline;
    align-content: space-around;
    width: 100%;
}

.item3line1 {
    background-color: palevioletred;
    height: 60%;
    width: 10%;
    margin: .5em;
}

.item3line2 {
    background-color: palevioletred;
    height: 70%;
    width: 10%;
    margin: .5em;
}

.item3line3 {
    background-color: palevioletred;
    height: 80%;
    width: 10%;
    margin: .5em;
}

.item3line4 {
    background-color: palevioletred;
    height: 20%;
    width: 10%;
    margin: .5em;
}

.item3line5 {
    background-color: palevioletred;
    height: 40%;
    width: 10%;
    margin: .5em;
}

.container4 {
    display: flex;
    justify-content: center;
    margin: .5em;
    width: 100%;
    height: 400px;
}

.item4line1 {
    background-color: aquamarine;
    width: 10%;
    height: 100%;
    margin: .5em;
}

.item4line2 {
    background-color: aquamarine;
    min-width: 70%;;
    height: 100%;
    margin: .5em;
}

.item4line3 {
    background-color: aquamarine;
    width: 10%;
    height: 100%;
    margin: .5em;
    padding: auto;
}